
    .subscribe-button {
        background-color:rgb(187, 0, 0);
        color: white; 
        border: none;
        padding-left: 16px;
        padding-right:16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: center;
        transition: opacity 0.15s;
        vertical-align: top;
        
        
    }

            .subscribe-button:hover {
             background-color: rgb(207, 63, 63);
             opacity: 0.8;
             }

            .subscribe-button:active {
             opacity: 0.3
            }

    .join-button {
        background-color:white;
        border-color: rgb(0, 145, 230);
        color: rgb(0, 145, 230);
        border-style: solid;
        border-width: 2px;
        padding-left: 16px;
        padding-right:16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 2px;
        cursor: pointer;
        font-weight: bold;
        margin-right:8px;
        transition: background-color 0.15s,
        color 0.15s;
        vertical-align: top;
    }

            .join-button:hover {
            background-color:rgb(0, 145, 230);
            color: white;
             }

            .join-button:active {
            opacity: 0.8;
            }
    
    .tweet-button {
        background-color:rgb(0, 191, 255);
        color: rgb(255, 255, 255);
        border-style: none;
        padding-left: 16px;
        padding-right:16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 18px;
        cursor: pointer;
        font-weight: bold;
        margin-right: 8px;
        vertical-align: top;
    }

            .tweet-button:hover {
            background-color:rgb(0, 90, 181);
            
            }

    .add-to-cart-button {
        background-color:rgb(255, 221, 0);
        color: rgb(0, 0, 0);
        border-style: none;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 18px;
        cursor: pointer;
        font-weight: bold;
        transition: box-shadow 0.15s;
        vertical-align: top;
    }

            .add-to-cart-button:hover {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 
            }

            .add-to-cart-button:active {
            background-color:rgb(191, 166, 0)
            }
            