
             @font-face{
                font-family:customfont;
                src: url(fonts/Doctor\ Glitch.otf);
             }

             @font-face{
                font-family:customfont1;
                src: url(fonts/neuropolitical\ rg.ttf);
             }
             ::selection {
                background: rgb(145, 8, 8);
              }



.maintitle{
    color:whitesmoke;
    font-family:customfont;
    font-size:20vw;
    text-align:center;
    padding-left:2.2vw;
    padding-right:2.2vw;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:0px;
    object-fit:cover;

}

.img1{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:2px;
    
}

.img2{
    width:70%;
    height:50%;
    border-radius:8px;
    border:solid;
    border-color:white;
    border-width:2px;
    object-fit:cover;
    vertical-align:center;
}

.img3{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:2px;
    
}

.img4{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:2px;
}

.paragraph1{
    color:whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-align:center;
    letter-spacing:30px;
    height:300px;
    width:1500px;
}

.div1{
    color:whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-align:center;
    letter-spacing:30px;
    height:300px;
    width:1500px;
}

.svg1{
    fill:whitesmoke;
    color:whitesmoke;
    width:3vw;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:10px;
    padding-left:2.2vw;
    padding-right:0px;
    vertical-align:center;
}

.svg2{
    fill:whitesmoke;
    color:whitesmoke;
    height:3vw;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:0px;
    vertical-align:center;
}



.svgbig{
    fill:whitesmoke;
    color:whitesmoke;
    height:100px;
    vertical-align:center;
}

.titlesection{
    background-color:darkred;
    display:grid;
    grid-template-columns:1fr;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.titledetails{
    background-color:darkred;
    display:block;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:2.2vw;
}