
     @font-face{
            font-family:customfont;
            src: url(fonts/Doctor\ Glitch.otf);
        }

     @font-face{
            font-family:customfont1;
            src: url(fonts/neuropolitical\ rg.ttf);
        }
    ::selection {
            background: rgb(145, 8, 8);
        }

.img1{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:1px;
    
}

.img2{
    width:65vw;
    height:15vw;
    border-radius:8px;
    border:solid;
    border-color:white;
    border-width:0px;
    object-fit:cover;
    object-position:top;
    vertical-align:top;
    
}

.img3{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:1px;
    
}

.img4{
    width:500px;
    height:300px;
    border-radius:8px;
    border:solid;
    border-color:whitesmoke;
    border-width:1px;
}

.div1{
    color:whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-align:center;
    letter-spacing:30px;
    height:300px;
    width:1500px;
}

.svg2{
    fill:whitesmoke;
    color:whitesmoke;
    height:3vw;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:10px;
    padding-left:1fr;
    padding-right:0px;
    vertical-align:center;
}


.svgbig,
.svgbig1{
    fill:whitesmoke;
    color:whitesmoke;
    height:20vw;
    display:inline-block;
    padding-top:2vw;
    padding-left:6vw;
}

.maintitle{
    color:whitesmoke;
    font-family:customfont;
    font-size:12vw;
    text-align:center;
    padding-left:2.2vw;
    padding-right:2.2vw;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:0px;
    object-fit:cover;

}

.paragraph1{
    color:whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-align:center;
    letter-spacing:30px;
    height:300px;
    width:1500px;
}

    .titlesectiongrid{
        background-color:darkred;
        display:grid;
        grid-template-columns:1fr;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
    }   

    .titlecharmsgrid{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
    }

    .imagedetailsgrid{
        display:grid;
        grid-template-columns:3fr 1fr;
        vertical-align:top;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
    }

    .bottomimagegrid{
        display:grid;
        grid-template-columns:1fr;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
    }
