::selection {
    background: rgb(142, 166, 187);
  }

body{
    font-size:18px;
}

header,
footer{
    background-color:rgb(181, 181, 181);
}

.site-title{
    color:rgb(50, 50, 50);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    letter-spacing:1vw;
    text-align:center;
    margin-top:4vw;
    margin-bottom:2vw;
}

h2{
    color:rgb(50, 50, 50);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:normal;
    text-align:center;
    margin-top:2vw;
    padding-left:20vw;
    padding-right:20vw;
    margin-bottom:2vw;
}

.gridcontainer{
    display:grid;
    grid-template-columns:3fr 1fr;
    margin-bottom:4vw;
}

#my-image{
    height:14vw;
    margin-left:2vw;
    border-radius:2px;
    box-shadow:0px 0px 2px 1px black;
}

.image2{
    height:6vw;
    margin-top:2vw;
}

.griditem2{
    margin-top:16px;
}

p,
.blockquote{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:4vw;
    padding-bottom:2vw;
    text-align:justify;
}

.gridcontainerbottom{
    display:grid;
    grid-template-columns:1fr 1fr;
}

li:nth-child(odd){
    background-color:rgb(238, 238, 238);
}

.hobbies{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left:0vw;
    padding-right:12vw;
    padding-bottom:1vw;
    margin-left:4.5vw;
    text-align:left;
    
}

.hobbieslist{
    list-style-type:square;
}

hr{
    width:30vw;
}

.morebutton,
.morebuttonbutton{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2vw;
    display:inline-block;
    justify-content:lwft;
    cursor:pointer;
    margin-top:0.2vw;
    margin-left:4.5vw;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:40px;
    padding-left:40px;
    border:none;
    border-radius:8px;
    text-decoration:none;
}

.returnbutton{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2vw;
    display:inline-block;
    justify-content:lwft;
    cursor:pointer;
    margin-top:0.2vw;
    margin-left:4.5vw;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:40px;
    padding-left:40px;
    border:none;
    border-radius:8px;
    text-decoration:none;
}

.morebuttonbutton,
.returnbutton{
    background-color:rgb(238, 238, 238);
}

.morebuttonbutton:hover,
.returnbutton:hover{
    background-color:rgb(222, 222, 222);
    font-size:1.5vw;
    transition:0.15s;
}

.morebuttonbutton:active,
.returnbutton:active{
    background-color:rgb(42, 42, 42);
    color:white;
    font-size:2vw;
}

.dl{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:4vw;
    padding-bottom:2vw;
    text-align:justify;
}

dd{
    margin-bottom:2vw;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    margin-top:6vw;
    padding-left:12vw;
}
