<style>
    <body>{
    }

    .bigheading{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:50px;
        background-color:rgb(116, 72, 18);
        color:rgb(255, 239, 216);
        border-radius:8px;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:20px;
        padding-right:20px;
        text-align:center;
    }

    .see-shop{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:26px;
        color:rgb(116, 72, 18);
        border:none;
        border-radius:8px;
        background-color:rgb(255, 239, 216);
        margin-top:20px;
        margin-right:20px;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:5px;
        padding-right:5px;
        float:middle;
    }
    .see-shop:hover{
            background-color:rgb(235, 210, 175);
            cursor:pointer;
            font-size:30px;
            transition:0.15s;
        }

    .see-shop:active{
            background-color:rgb(199, 165, 116);
            font-size:35px;
    }

    .merchandise{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:26px;
        color:rgb(116, 72, 18);
        border:none;
        border-radius:8px;
        background-color:rgb(255, 239, 216);
        margin-top:20px;
        margin-right:20px;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:5px;
        padding-right:5px;
    }

    .merchandise:hover{
            background-color:rgb(235, 210, 175);
            cursor:pointer;
            font-size:30px;
            transition:0.15s;
    }

    .merchandise:active{
            background-color:rgb(199, 165, 116);
            font-size:35px;
    }

    .textbox{
        border-radius:8px;
        background-color:rgb(208, 197, 182);
        padding-left:5px;
        padding-right:5px;
        padding-top:5px;
        padding-bottom:5px;
        color:white;
        border-color:rgb(129, 105, 76);
    }

    .image1{
        border-radius:8px;
        text-align:center;
    }

    
<style>