h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding-left:20vw;
    padding-right:20vw;
    padding-bottom:1vw;
}

p{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:12vw;
    padding-bottom:2vw;
    text-align:justify;
}

blockquote{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:12vw;
    margin-top:4vw;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    margin-top:10vw;
    margin-left:12vw;
}