h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    letter-spacing:1vw;
    text-align:center;
    margin-top:4vw;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:normal;
    text-align:center;
    margin-top:6vw;
    padding-left:20vw;
    padding-right:20vw;
    padding-bottom:2vw;
}

p{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:12vw;
    padding-bottom:2vw;
    text-align:justify;
}

.morebutton,
.morebuttonbutton{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5vw;
    display:flex;
    justify-content:center;
    cursor:pointer;
    margin-top:1vw;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:40px;
    padding-left:40px;
    border:none;
    border-radius:8px;
    text-decoration:none;
    margin-top:1.5vw;
}

.morebuttonbutton:hover{
    background-color:darkgrey;
    font-size:1.8vw;
    transition:0.15s;
}

.morebuttonbutton:active{
    background-color:rgb(42, 42, 42);
    color:white;
    font-size:2vw;
}

blockquote{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:12vw;
    padding-right:12vw;
    margin-top:4vw;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    margin-top:10vw;
    margin-left:12vw;
}